<footer class="footer">
  <div class="wrapper">
    <div>
      <a href="#"
        ><img src="./assets/images/ico-arrow.svg" alt="volver arriba"
      /></a>
    </div>
    <nav>
      <ul>
        <li><a>articles</a></li>
      </ul>
      <ul>
        <li><a>books</a></li>
      </ul>
      <ul>
        <li><a>events</a></li>
      </ul>
      <ul>
        <li><a>reasons</a></li>
      </ul>
      <ul>
        <li><a>tips</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a>twitter</a></li>
      </ul>
      <ul>
        <li><a>instagram</a></li>
      </ul>
      <ul>
        <li><a>mastodon.social</a></li>
      </ul>
    </nav>
    <div>
      <small>&copy;2017</small>
      <span>we (heart) components</span>
    </div>
  </div>
</footer>
