<footer class="footer">
  <div class="wrapper">
    <a class="footer__btn-up" href="#"
      ><img src="./assets/images/ico-arrow.svg" alt="volver arriba"
    /></a>
    <div class="footer__container">
      <nav class="footer__container--menu">
        <ul>
          <li><a>articles</a></li>
        </ul>
        <ul>
          <li><a>books</a></li>
        </ul>
        <ul>
          <li><a>events</a></li>
        </ul>
        <ul>
          <li><a>reasons</a></li>
        </ul>
        <ul>
          <li><a>tips</a></li>
        </ul>
      </nav>
      <nav class="footer__container--social-media">
        <ul>
          <li><a>twitter</a></li>
        </ul>
        <ul>
          <li><a>instagram</a></li>
        </ul>
        <ul>
          <li><a>mastodon.social</a></li>
        </ul>
      </nav>
      <div class="footer__container--copyright">
        <small>&copy;2017</small>
        <span>we <span class="heart">❤︎</span> components</span>
      </div>
    </div>
  </div>
</footer>
