<footer class="footer">
  <div class="wrapper">
    <a class="footer__btn-up" href="#header" tittle="volver arriba"
      ><img src="./assets/images/ico-arrow.svg" alt="volver arriba"
    /></a>
    <div class="footer__container">
      <nav class="footer__container--menu">
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="articles"
              >articles</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="books"
              >books</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="events"
              >events</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="reasons"
              >reasons</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="tips"
              >tips</a
            >
          </li>
        </ul>
      </nav>
      <nav class="footer__container--social-media">
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="twitter"
              >twitter</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="instagram"
              >instagram</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a class="menu-item" href="https://adalab.es/" tittle="mastodon"
              >mastodon.social</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer__container--copyright">
        <small>&copy;2017</small>
        <span>we <span class="heart">❤︎</span> components</span>
      </div>
    </div>
  </div>
</footer>
