<header class="header" id="header">
  <div class="btn-top">
    <a href="https://adalab.es/" tittle="link Adalab"
      ><img src="./assets/images/ico-menu.svg" alt="Enlace web Adalab"
    /></a>
  </div>
  <section class="hero">
    <div class="wrapper hero__info">
      <h1 class="hero__info--tittle">
        <span>anonymous</span>
        <span>proxy</span>
      </h1>
      <p class="hero__info--text">In hac habitasse platea dictumst.</p>
      <div class="btn-scroll-down">
        <a href="#module-2" tittle="go to reasons to purchase"
          ><img src="./assets/images/ico-scroll-down.svg" alt="scroll-down"
        /></a>
      </div>
    </div>
  </section>
</header>
