<section class="module-2" id="module-2">
  <div class="wrapper">
    <div class="module-2__container">
      <h3 class="item item1">3 reasons to purchase</h3>
      <div class="item item2">
        <h4 class="item__tittle">Ut sed metus</h4>
        <p class="item__text">Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div class="item item3">
        <h4 class="item__tittle">Curabitur ac erat</h4>
        <p class="item__text">Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="item item4">
        <h4 class="item__tittle">Morbi dictum</h4>
        <p class="item__text">Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <div class="item5 btn-primary">
        <a class="btn-text" href="https://adalab.es/" tittle="link Adalab"
          >More reasons
        </a>
      </div>
    </div>
  </div>
</section>
