<section class="module-2">
  <div class="wrapper">
    <div class="module-2__container">
      <h2>3 reasons to purchase</h2>
      <div>
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div>
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div>
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <div class="btn-primary"><a href="#">More reasons </a></div>
    </div>
  </div>
</section>
