/* FONTS */

$font-family-main: "Roboto", sans-serif;
$font-family-tittle: "Roboto Slab", serif;

/* COLORS */

$color-light: #ffffff;
$color-text: #000000;
$color-primary: #304268;
$color-secondary: #0271bc;
$color-terciary: #eff9ff;
$color-btn: #f26002;
