html {
  font-size: 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 30px 15px;
  margin: auto;

  @include tablet {
    padding: 30px 40px;
    max-width: 690px;
  }
  @include desktop {
    padding: 60px 80px;
    max-width: 730px;
  }
}
