.footer {
  background-color: $color-primary;
  position: relative;
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
  }

  &__btn-up {
    height: 45px;
    width: 45px;
    background-color: $color-light;
    border-radius: 50%;
    position: absolute;
    top: -22px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 $color-dark;

    &:hover {
      animation-duration: 1.5s;
      animation-name: button;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes button {
      0% {
        transform: scale(1, 1) translateY(0);
      }
      5% {
        transform: scale(1.1, 0.9) translateY(0);
      }
      30% {
        transform: scale(0.9, 1.1) translateY(-50px);
      }
      50% {
        transform: scale(1.1, 0.9) translateY(0);
      }
      60% {
        transform: scale(1.05, 0.95) translateY(-15px);
      }
      65% {
        transform: scale(1, 1) translateY(0);
      }
      100% {
        transform: scale(1, 1) translateY(0);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      justify-content: space-around;
    }

    &--menu {
      font-family: $font-family-main;
      font-size: 1.6rem;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 15px;

      @include tablet {
        text-align: left;
      }
    }

    &--social-media {
      font-family: $font-family-main;
      font-size: 1.6rem;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      margin: 30px 15px;

      @include tablet {
        text-align: left;
      }
    }

    .menu-item {
      color: $color-light;
      transition: color ease-in-out 0.2s;

      &:hover {
        color: $color-btn;
      }
    }

    &--copyright {
      font-family: $font-family-main;
      font-size: 1.4rem;
      line-height: 30px;
      text-align: center;
      color: $color-light;
      text-transform: capitalize;
      margin-top: 30px;
      margin-bottom: 15px;

      @include tablet {
        text-align: left;
        order: -1;
      }

      small {
        display: block;
      }

      .heart {
        color: $color-btn;
      }
    }
  }
}
