.footer {
  background-color: $color-primary;
  position: relative;
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
  }

  &__btn-up {
    height: 45px;
    width: 45px;
    background-color: $color-light;
    border-radius: 50%;
    position: absolute;
    top: -22px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 $color-dark;

    &:hover {
      animation-duration: 2s;
      animation-name: button;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes button {
      20% {
        border-radius: 0 0 0 0;
      }

      40% {
        border-radius: 0 0 50% 0;
        background-color: $color-terciary;
      }

      60% {
        border-radius: 0 0 0 50%;
        background-color: $color-small;
      }
      80% {
        border-radius: 0 50% 0 0;
        background-color: $color-secondary;
      }
      100% {
        border-radius: 50% 0 0 0;
        background-color: $color-primary;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      justify-content: space-around;
    }

    &--menu {
      font-family: $font-family-main;
      font-size: 1.6rem;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 15px;

      @include tablet {
        text-align: left;
      }
    }

    &--social-media {
      font-family: $font-family-main;
      font-size: 1.6rem;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      margin: 30px 15px;

      @include tablet {
        text-align: left;
      }
    }

    .menu-item {
      color: $color-light;
    }

    &--copyright {
      font-family: $font-family-main;
      font-size: 1.4rem;
      line-height: 30px;
      text-align: center;
      color: $color-light;
      text-transform: capitalize;
      margin-top: 30px;
      margin-bottom: 15px;

      @include tablet {
        text-align: left;
        order: -1;
      }

      small {
        display: block;
      }

      .heart {
        color: $color-btn;
      }
    }
  }
}
