.module-2 {
  background-color: $color-terciary;

  &__container {
    padding-top: 15px;
    padding-bottom: 30px;
    h2 {
      font-family: $font-family-tittle;
      font-size: 24px;
      font-weight: 30px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 30px;
    }

    .item {
      padding-top: 15px;
      padding-bottom: 30px;
    }

    h3 {
      font-family: $font-family-tittle;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    p {
      font-family: $font-family-main;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .btn-primary {
      display: block;
      background-color: $color-btn;
      height: 45px;
      width: 184px;
      border-radius: 50px;
      text-align: center;
      line-height: 45px;
      margin: 30px auto;

      a {
        font-family: $font-family-main;
        font-size: 20px;
        font-weight: 500;
        color: $color-light;
        text-align: center;
      }
    }
  }
}
