.module-1 {
  .wrapper {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  &__small {
    font-family: $font-family-main;
    font-size: 1.4rem;
    line-height: 30px;
    color: $color-small;
    text-transform: capitalize;

    @include desktop {
      font-size: 16px;
    }
  }

  &__tittle {
    font-family: $font-family-tittle;
    font-size: 2.4rem;
    line-height: 30px;
    color: $color-dark;
    text-transform: capitalize;
    padding-bottom: 15px;

    @include tablet {
      font-size: 2.6rem;
    }

    @include desktop {
      font-size: 3.2rem;
    }
  }

  &__text {
    font-family: $font-family-main;
    font-size: 1.8rem;
    line-height: 30px;
    color: $color-darkgrey;
    padding-bottom: 30px;

    @include tablet {
      font-size: 2rem;
    }
  }

  .btn-go {
    display: inline-block;
    border: 2px solid $color-btn;
    height: 45px;
    width: 76px;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 30px;
    transition: all ease-in-out 0.5s;

    &:hover {
      background-color: transparentize($color-btn, 0.8);
      transform: scale(0.9);
    }

    @include tablet {
      width: 91px;
    }

    @include desktop {
      width: 160px;
    }

    .go {
      font-family: $font-family-main;
      font-size: 2rem;
      font-weight: 500;
      color: $color-btn;
    }
  }
}
