.module-2 {
  background-color: $color-terciary;
  .wrapper {
    @include tablet {
      max-width: 1200px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tittle" "article1" "article2" "article3" "button";

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "tittle tittle tittle" "article1 article2 article3" "button button button";
    }

    .item {
      padding-top: 15px;
      padding-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;

      &__tittle {
        font-family: $font-family-tittle;
        font-size: 1.8rem;
        line-height: 30px;
        text-align: center;

        @include tablet {
          font-size: 2.4rem;
        }
      }

      &__text {
        font-family: $font-family-main;
        font-size: 1.8rem;
        line-height: 30px;
        text-align: center;

        @include tablet {
          font-size: 2rem;
        }
      }
    }

    .item1 {
      grid-area: tittle;
      font-family: $font-family-tittle;
      font-size: 2.4rem;
      line-height: 30px;

      @include tablet {
        font-size: 2.6rem;
      }

      @include desktop {
        font-size: 3.2rem;
      }
    }

    .item2 {
      grid-area: article1;
    }
    .item3 {
      grid-area: article2;
    }
    .item4 {
      grid-area: article3;
    }
    .item5 {
      grid-area: button;
    }

    .btn-primary {
      display: block;
      background-color: $color-btn;
      height: 45px;
      width: 184px;
      border-radius: 50px;
      text-align: center;
      line-height: 45px;
      margin: 30px auto;
      transition: all ease-in-out 0.4s;

      @include tablet {
        width: 210px;
      }

      @include desktop {
        width: 255px;
      }

      &:hover {
        background-color: lighten($color-btn, 10%);
        transform: scale(0.9);
      }

      .btn-text {
        font-family: $font-family-main;
        font-size: 2rem;
        font-weight: 500;
        color: $color-light;
        text-align: center;
      }
    }
  }
}
