.module-1 {
  .wrapper {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  &__small {
    font-family: $font-family-main;
    font-size: 14px;
    line-height: 30px;
    color: $color-small;
    text-transform: capitalize;

    @include desktop {
      font-size: 16px;
    }
  }

  &__tittle {
    font-family: $font-family-tittle;
    font-size: 24px;
    line-height: 30px;
    color: $color-dark;
    text-transform: capitalize;
    padding-bottom: 15px;

    @include tablet {
      font-size: 26px;
    }

    @include desktop {
      font-size: 32px;
    }
  }

  &__text {
    font-family: $font-family-main;
    font-size: 18px;
    line-height: 30px;
    color: $color-darkgrey;
    padding-bottom: 30px;

    @include tablet {
      font-size: 20px;
    }
  }

  .btn-go {
    display: inline-block;
    border: 2px solid $color-btn;
    height: 45px;
    width: 76px;
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 30px;

    @include tablet {
      width: 91px;
    }

    @include desktop {
      width: 160px;
    }

    a {
      font-family: $font-family-main;
      font-size: 20px;
      font-weight: 500;
      color: $color-btn;
    }
  }
}
